@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI-Light.eot');
  src:
    local('Segoe UI Light'),
    local('SegoeUI-Light'),
    url('/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI-Light.woff') format('woff'),
    url('/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI-SemiBold.eot');
  src:
    local('Segoe UI Semibold'),
    local('SegoeUI-SemiBold'),
    url('/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('/fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI.eot');
  src:
    local('Segoe UI'),
    local('SegoeUI'),
    url('/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI.woff') format('woff'),
    url('/fonts/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI-Bold.eot');
  src:
    local('Segoe UI Bold'),
    local('SegoeUI-Bold'),
    url('/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SegoeUI-Bold.woff') format('woff'),
    url('/fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Alata';
  src: url('/fonts/Alata-Regular.eot');
  src:
    local('Alata Regular'),
    local('Alata-Regular'),
    url('/fonts/Alata-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Alata-Regular.woff2') format('woff2'),
    url('/fonts/Alata-Regular.woff') format('woff'),
    url('/fonts/Alata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
